<div class="about row">
    <div class="col-md-12">
       <h2>About me </h2>
        <br/>
        <p>我是零度，一直想成为技术牛人，虽然现在还不是，但是一直在努力，</p>
        <p>我知道你也一定有这样的想法，大家都热衷编程、千里相聚认识就是一种缘分，</p>
        <p>技术的道路总是孤独的，甚至有时候显得很无助，</p>
        <p>希望一些志同道合的朋友一起加入，一起学习探讨交流，</p>
        <p>Java这条路还很长，希望在这条路上有个相伴，相互扶持，共同进步，相互督促，</p>
        <p>任何技术都不是一蹴而就的，都需要坚持，滴水穿石、持之以恒，</p>
        <p>可能在短期看不出来效果，因为需要一个量变到质变以及破茧成蝶的过程。</p>
        <p>特别喜欢一句话：<strong>大多数人勤奋的程度，还到不了讨论天赋，</strong></p>
        <p>因为我们有梦想，想成为大牛，所以我们奋斗努力，希望我们一直坚持的走下去，加油！！！</p>
        <p>
          <strong>个人公众号</strong>：<a href="http://www.jiangxinlingdu.com/assets/images/lingdu.jpg" target="_blank">匠心零度（ID：jiangxinlingdu）</a>，“以匠心，铸非凡！”欢迎关注
        </p>

       <p>
        最后，谢谢您这么厉害还阅读了我的文章，感谢！！！
       </p>


       <!--<p>
         如果我的文章帮助了你，可以赞赏我6.66元，请我吃个肉夹馍 :)
       </p>

       <p align="center">

       <img src="http://www.jiangxinlingdu.com/assets/images/tip.jpg" />
       <br/>微信扫一扫
            
         &lt;!&ndash; <img src="http://www.jiangxinlingdu.com/assets/images/weixin.png"  style="width: 413px;height: 545px;">
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         
          <img src="http://www.jiangxinlingdu.com/assets/images/weixin.png"  style="width: 413px;height: 545px;">&ndash;&gt;
       </p>-->

        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div>
    </div>

</div>